<launch>    
  <!-- Launch static map: see where areas are placed -->
  
  <!-- Launch define_areas and visualizer-->
  <include file="$(find define_areas)/launch/define_areas_fdg.launch"/>
      
  
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find define_areas)/rviz/define_areas.rviz" />
  
</launch>
