<?xml version="1.0" ?>
<launch>
	
  <node pkg="ros_pure" type="ros_pure_bridge.py" name="ros_pure_bridge" output="screen"> 
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find kompai_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find kompai_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kompai_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kompai_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find kompai_2dnav)/config/base_local_planner_params.yaml" command="load" />
  </node>


  <node pkg="tf" type="static_transform_publisher" name="laser2robot" args="0 0 0 0 0 0 /base_link /kompai_laser 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom2map" args="0 0 0 0 0 0 map odom_combined 100"/>
    
<!--   <node pkg="rfid_node" type="rfid_detect_eu.py" name="tag_detect_node" /> 
  
  <group ns="tag_resources_0">	  
	<node pkg="rfid_node" type="tag_sonar.py" name="tag_sonar_node" output="screen">
        <rosparam param="tagNAME">"390000010000000000000007"</rosparam>	    
        <remap from="/tag_resources_0/lastTag" to="/lastTag"/>
    </node>   

	<node pkg="tf" type="static_transform_publisher" name="tag2robot" args="0 0 0 0 0 0  base_link sonar_390000010000000000000007  100" />
  Run the costmap node 
	<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" >
	  <rosparam file="$(find rfid_node)/launch/costmap_params.yaml" command="load" ns="costmap" />
	</node> 
  </group>  -->


</launch>
