  <!-- 
        Plays recorded data on alfie. We use amcl to correct odometry drifts
  -->
  
<launch>  

  <!--  Our bag  -->     
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="player" output="screen" args=" --clock $(find rfid_rssi)/tests/alfie_model_1.6m_to_tag_antenna_height_0.65m.bag"/>	
  
  <!--  Tag position referred to map coordinates
        In this bag, tag was  300833B2DDD9014000000014 -->     
  <node pkg="tf" type="static_transform_publisher" name="tag_broadcaster" args="-0.25 1.45 0 0 0 0 1 map tag 100" />

  <!--  Static map. Needed for amcl  -->     
  <node pkg="map_server" type="map_server" name="lcas_map" output="screen" args="$(find kompai_slam_lcas)/test/WW_GF_2015_02_22_cropped.yaml"/>

  <!--  AMCL with configuration for LCAS  -->     
  <include file="$(find kompai_slam_lcas)/launch/amcl_diff.launch" />  
  
  <!--  Initial robot pose in this bag. Used by amcl as seed  -->     
  <node pkg="rostopic" type="rostopic" name="arbitrary_name" args="pub /initialpose geometry_msgs/PoseWithCovarianceStamped '{ header: { frame_id: '/map' }, pose: { pose: { position: { x: 1.42, y:  1.58 }, orientation: { x: 0.0, y: 0.0, z: -1, w: 0 } }, covariance: [ 0.25, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.06853891945200942 ] } }' -1" output="screen"/>

  <!--  Just for visualization purposes  -->     
  <node pkg="rviz" type="rviz" output="screen" name="rviz_node" args="-d $(find kompai_slam_lcas)/cfg/amcl.rviz"/>	
  
  <!--  This generates several folders under scripts folder with models  -->     
  <node pkg="rfid_rssi" type="model.py" output="screen" name="modelling_node"/>	
</launch>
      
